header.container-fluid {
    position: fixed;
    top: 0;
    max-width: 100%;
}
.carousel-inner img {
    width: 70%;
    height: 280px;
    margin-top: 30px;
    opacity: 0.4;
}
.carousel{
    
    max-width:100%;
    height: auto;
    margin-top: -65px;

}
.carousel-control-prev , .carousel-control-next{
    margin:auto;
}
.carousel-caption{
    color: rgb(15, 15, 14);
    text-align: center;
    font-weight: bold;
    font-family: 'Arizonia';
    font-size: 22px;
    line-height: 20px;
  }

.jumbotron{
    height: auto;;
    width: 100%;
    margin-top: 100px;
    
}
.responsive{
    width:50%;
    height: 200px
 } 
 .category
{
    width:100%;
    background-color: white;
    height:400px;
    margin-top: 50px;
}
.flex-container
{
    display:flex;
    margin:auto;
}
.flex-container p{
    display:flex;
    direction:row-reverse;
}
.category div{
    
    background-color:whitesmoke;
    margin:10px;
}
.category{
    height: auto;
}
.category img{
    margin-left:0;
    width:100%;
}
.category dd{
    width: 100%;
    text-align: center;
    color:rgb(43, 41, 41);
    font-size:70%;
    font-family: serif;
}
.lunch , .bft , .dinner {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(44, 41, 40);
    
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    
}
h3,h4{
    text-align:center;
    background-color: rgb(44, 44, 43);
    color: rgb(248, 245, 245);
    font-size: 25px;
    font-weight: bolder;
    height:40px;
    word-spacing: 10px;
    
    
 }
dl{
    display: flex;
    flex-wrap: wrap;
}
dl div{
    flex:1;
}
dl a{
    color:rgb(75, 71, 71);
}
/*map*/
#contatti{
    background-color: rgb(92, 91, 91);
  letter-spacing: 2px;
  margin: auto;
  
  }
#contatti a{
  color: #fff;
  text-decoration: none;
}
#contatti label{
    color: #fff;
}
iframe{
    
     border:0 ;
}
@media (max-width: 575.98px) {

  #contatti{padding-bottom: 800px;}
  #contatti .maps iframe{
    width: 100%;
    height: 450px;
  }
  .menu{
      
  }
 }


@media (max-width: 576px) {

   #contatti{padding-bottom: 800px;}

   #contatti .maps iframe{
     width: 100%;
     height: 450px;
   }
 }

@media (max-width: 768px) {

  #contatti{padding-bottom: 350px;}

  #contatti .maps iframe{
    width: 100%;
    height: 850px;
  }
}

  #contatti{padding-bottom: 200px;}
@media (max-width: 992px) {

   #contatti .maps iframe{
     width: 100%;
     height: 700px;
   }
}

@media screen and (min-width:700px){

}
